$text-color: #1c1c1c;
$white: #ffffff;
$grey: #5c5c5c;
$blue: #2f68fa;

// laout
@import "settings/normalize.scss";
@import "settings/bootstrap-grid.scss";
@import "settings/font-awesome.scss";
@import "settings/fonts.scss";

@import "settings/setting.scss";

@import "sections/page.scss";
@import "sections/adaptive.scss";

