* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: $text-color;
	font-size: 16px;
	line-height: 1.2;
	background: $white;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.container {
	height: 100%;
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

.section-title {
	font-size: 42px;
	color: $white;
	text-align: center;
	padding-top: 80px;
}
button {
	cursor: pointer;
	border: none;
	font-family: 'futura-book';
	font-weight: 700;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}
